$verdeo:#158A44;
$verde:#28BD63;
$verdec: #66D491;
$azulo:#158287;
$azul:#12B3BA;
$azulc:#4CCBD4;
$morado:#6B72CF;
$naranja:#F7741E;
$rosa:#CC2463;
$griso:#808080;
$gris:#A9B1AB;
$grisc:#E9EBED;
$negro:#616161;