.cuatrimestre{
    background-color: $grisc;;
    padding:1% 3%;
}

.cuatrimestre_titulo{
    color:forestgreen;
    font-size:1.55em;
}
.cuatrimestre_nav--item{
    display:flex;
    flex-wrap: nowrap;
}