.sidebar{
    background-color:$grisc;
    padding:15px;
    border-radius: 7px;
}

.sidebar_titulo{
    color:$azul;
    border-bottom:1px solid $griso;
}

.sidebar_menu{
    list-style: none;
    margin:0;
    padding:0;
}

